.transactionsTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  text-transform: capitalize;
}

.transactionFirstLine {
  background-color: rgb(46, 46, 49);
  color: white;
}

.transactionsTable th,
.transactionsTable td {
  padding: 5px;
  border: 1px solid black;
}

.transactionsTable tr:nth-child(even) {
  background-color: #bcc8cf;
}
